@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --custom-background:240 20% 99%;
    --brand:328 100% 50%;
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;
    --ring: 0 0% 9%;
    --radius: 0.5rem;
	  --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --custom-background: 240 10% 5.9%;
    --brand: 328 100% 50%;
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --muted: 240 5% 11%;
    --muted-foreground: 240 5% 65%;
    --popover: 240 10% 5.9%;
    --popover-foreground: 0 0% 98%;
    --card: 240 10% 5.9%;
    --card-foreground: 0 0% 98%;
    --border: 240 5% 11%;
    --input: 240 5% 11%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --ring: 240 5% 65%;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 240 5% 85%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 240 5.9% 10%;
    --sidebar-accent: 240 4% 16%;
    --sidebar-accent-foreground: 240 5% 85%;
    --sidebar-border: 240 5% 11%;
    --sidebar-ring: 328 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
	input:autofill,
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active,
	input:-webkit-autofill-strong-password,
	input:-webkit-autofill-strong-password-viewable,
	input:-webkit-autofill-and-obscured {
		background-clip: text;
		-webkit-text-fill-color: hsl(var(--foreground));
		color: hsl(var(--foreground));
	}
}
